{% extends 'blog_app/base.html' %}

{% block content %}
<div class="container my-container">
	<h2 class="my-5">Favourite Posts</h2>

	<ul class="favor-posts">
	{% for post in page_obj %}
		<li class="list-group-item">
			<a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
			<a href="{% url 'favourite_add' post.pk %}" class="ms-2" data-bs-toggle="tooltip" title="Remove from favourites">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
					<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
					<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
				</svg>
			</a>
		</li>
	{% empty %}
		<li class="list-group-item">No posts yet</li>
	{% endfor %}
	</ul>

	<div class="pagination">
		<ul class="step-links container pagination justify-content-center">
			{% if page_obj.has_previous %}
			<li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
			<li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link me-2">prev</a></li>
			{% endif %}

			<li class="page-item"><a class="current page-link my-pagecount">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
			</a></li>

			{% if page_obj.has_next %}
			<li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link ms-2">next</a></li>
			<li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock content %}
