{% extends "blog_app/base.html" %}

{% block content %}

<header>
	<h1 class="pt-5 pb-5 text-center">Blog App</h1>
</header>

<div class="container my-container">
{% for post in post_list %}
	<div class="mt-4 ps-3 pe-3">
		<h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
		<p class="text-secondary small">Author: <b>{{ post.author }}</b></p>
		<p>{{ post.text|truncatewords:20 }}</p>
		<hr>
	</div>
{% empty %}
	<p>No posts yet.</p>
{% endfor %}
</div>

{% endblock content %}
