{% extends "blog_app/base.html" %}

{% block content %}

<div class="container my-container">
{% for post in post_list %}
	<h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
	<p class="text-secondary small">Author: <b>{{ post.author }}</b></p>
	<p>{{ post.text|truncatewords:30 }}</p>
	<hr>
{% empty %}
	<p>No posts yet</p>
{% endfor %}

	<div class="pagination">
		<ul class="step-links container pagination justify-content-center">
			{% if page_obj.has_previous %}
			<li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
			<li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link me-2">prev</a></li>
			{% endif %}

			<li class="page-item"><a class="current page-link my-pagecount">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
			</a></li>

			{% if page_obj.has_next %}
			<li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link ms-2">next</a></li>
			<li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
			{% endif %}
		</ul>
	</div>
</div>

{% endblock content %}
