body {
	font-family: "Roboto", sans-serif;
	background: ivory;
}

h1 {
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	color: teal;
}

header {
	background: lemonchiffon;
}

.post-entry h2 {
	font-family: "Roboto Slab", serif;
	color: teal;
}

.my-container {
	max-width: 960px;
}
